<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="My Rules" Description="Description here." ToolsVersion="17.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA0001" Action="None" />
    <Rule Id="SA1000" Action="None" />
    <Rule Id="SA1005" Action="None" />
    <Rule Id="SA1027" Action="None" />
    <Rule Id="SA1028" Action="None" />
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1109" Action="Warning" />
    <Rule Id="SA1118" Action="None" />
    <Rule Id="SA1122" Action="None" />
    <Rule Id="SA1126" Action="Warning" />
    <Rule Id="SA1200" Action="None" />
    <Rule Id="SA1204" Action="None" />
    <Rule Id="SA1210" Action="None" />
    <Rule Id="SA1309" Action="None" />
    <Rule Id="SA1310" Action="None" />
    <Rule Id="SA1313" Action="None" />
    <Rule Id="SA1409" Action="Warning" />
    <Rule Id="SA1413" Action="None" />
    <Rule Id="SA1512" Action="None" />
    <Rule Id="SA1516" Action="None" />
    <Rule Id="SA1600" Action="None" />
    <Rule Id="SA1601" Action="None" />
    <Rule Id="SA1602" Action="None" />
    <Rule Id="SA1603" Action="Warning" />
    <Rule Id="SA1609" Action="Warning" />
    <Rule Id="SA1633" Action="None" />
    <Rule Id="SA1644" Action="Warning" />
    <Rule Id="SA1649" Action="None" />
    <Rule Id="SA1652" Action="None" />
    <Rule Id="SX1309" Action="Warning" />
  </Rules>
</RuleSet>