# 1) This workflow will build a .NET project
# 2) After build testing is going to start
# 3) After testing results will be printed using dotnet-trx reporter and phoenix-actions/test-reporting@v8
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: Atomation_Testing_on_Push_Pull_Request

on:
  push:
    branches: [ "dev", "main" ]    
  pull_request:
    branches: [ "dev", "main" ]
    #Manual workflow start
  workflow_dispatch:

jobs:
  build-and-test:

    runs-on: windows-2022
    env:
      SOLUTION_PATH: 'Streetcode\Streetcode.sln'
      BUILD_CONFIG: 'Debug'
            
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 6.0.x
    - name: Restore dependencies
      run: dotnet restore $env:SOLUTION_PATH
    - name: Build
      run: dotnet build $env:SOLUTION_PATH --configuration $env:BUILD_CONFIG --no-restore
    - name: Test
      run: dotnet test $env:SOLUTION_PATH --configuration $env:BUILD_CONFIG --no-build --verbosity normal --logger "trx;LogFileName=test-res.trx" || true

    - name: Create-Testing-Result-Report
      uses: phoenix-actions/test-reporting@v8
      if: success() || failure()
      id: test-report
      with:
        name: Test-Results
        reporter: dotnet-trx
        path: "**/test-res.trx"        
        fail-on-error: true
